@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Electrolize", sans-serif;
}

.ant-btn-primary {
  background-color: #1677ff;
}

@layer components {
  .menu-link {
    @apply flex flex-col justify-center items-center gap-1 hover:text-[#40a9ff] duration-300;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .categories-item {
    @apply flex items-center justify-center bg-green-700 py-6 text-white cursor-pointer hover:bg-pink-700 duration-300 rounded-md w-full min-w-[145px];
  }

  .danger {
    @apply bg-[#ff4d4f] text-white shadow-sm rounded-lg text-base hover:bg-[#ff7875] hover:!text-white hover:!border-red-400 hover:!opacity-80 duration-300;
  }
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-card .ant-card-body {
  padding: 0.8rem 0.6rem !important;
}

:where(.css-dev-only-do-not-override-1adbn6x).ant-card-bordered {
  border: 1px solid #cfcfcf !important;
}

@media (min-width: 768px) {
  .categories::-webkit-scrollbar {
    display: none;
  }

  .products::-webkit-scrollbar {
    display: none;
  }

  body {
    overflow: hidden;
  }
}
